body {
    background-color: orange;
}

.card {
    background-color: red;
    width: 800px;
    height:300px;
    border-radius: 10px;
    border: solid 5px yellow;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}