@mixin text-border {
    border: 2px solid #b16400;
    border-radius: 7px;
}

body {
    font-family: sans-serif;
    background: url('../blog-background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    margin-left: 70px;
    color: rgb(255, 255, 255);
}

.card {
    font-weight: bold;
    color: white;
    background-color: rgb(219, 168, 0);
    width: 80%;
    height:auto;
    border-radius: 10px;
    border: solid 0px yellow;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-between;
    margin: 10px;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    font-weight: bold;
    width: 40%;
    padding: 12px 20px;
    @include text-border;
}

textarea {
    width: 96%;
    height: 80px;
    padding: 12px 20px;
    @include text-border;
}